@media only screen and (max-width:600px) {
    /*index*/
    .container-fluir{
        justify-content: space-around;
    }
    .nav-item{
        font-size: 10px;
        color: black;
    }
   .menu-principal{
        height: 400px;
    }
    .titulo-menuprincipal{
        font-size: 40px;
    }
    .nav-link{
        font-size: 17px;
    }
   .imagenproyecto{
        height:200px;
        width: 80%;
    }
    .info_secundaria p{
        font-size:15px ;
    }
    .info_secundaria h2{
        font-size: 18px;
    }
    .menu-secundario{
        gap:10px;
        height: 450px;
        padding: none;
    }
    .info_secundaria{
        width: 80%;
    }
    .boton{
        font-size: 15px;
    }
    /*footer*/
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 170px;
    }
    .footer p{
        font-size: 13px;
    }
    .footer--informacion{
        font-size: 12px;
    }
    .footer--datos{
        height: 30px;
    }
    .footer--datos p{
        font-size: 12px;
    }
    /*formulario*/
    .menuformulario {
        height: 700px;
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../imagenes/mini-fotoformulario.png);
    }
    .formulario {
        height: 450px;
        width: 80%;
    }
    .uno{
        width: 130px;
        height: 130px;
    }
    .dos{
        width: 130px;
        height: 130px;
    }
    .tres{
        width: 130px;
        height: 130px;
    }
  /*productos*/
   .grilladefotos{
        grid-template-columns: 100% ;
        grid-template-rows: 250px 250px 250px 250px ;
        grid-template-areas:"areaa"
                            "areab"
                            "areac"
                            "aread";
        justify-content: center;
        align-content: center;                    
    }
    .unococina{
        height:210px;
        width: 260px;
    }
    
    /*quienesomos*/
    .menu-quienes-somos{
        grid-template-columns:100%;
        grid-template-rows:300px 250px 400px 300px 100px;
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5";
    }
    .uno{
        width: 150px;
        height: 160px;
    }
    .dos{
        width: 150px;
        height: 160px;
    }
    .tres{
        width: 150px;
        height: 160px;
    }
    .elementos{
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .fotoquienesomos{
        height: 90%;
        width: 80%;
    }
    span{
        font-size: 60px;
    }
    .info-quienessomos{
        font-size: 18px;
    }
    .informacion-quienes{
        height:600px;
        flex-direction: column;
        justify-content: space-around;
    }
    /*comercial*/ 
    .maincomercial{
        height: 150px;
        &_titulo{
            font-size: 30px;
        }
        &-imagenes{
            height: 2200px;
        }
        &-info_titulo{
            font-size: 22px;
        }
        &-info_parrafo{
            font-size: 19px;
        }
        &-card_img{
            height: 400px;
            width: 100%;
        }
        &-card{
            display: flex;
            flex-direction: column;
            width: 90%;
        }
        
    }
    .calidad{
        font-size: 20px;
    }
}
@media only screen and (min-width:600px){
    /*index*/
    .menu-principal{
        height: 500px; 
    }
    .nav-link{
        font-size: 18px;
    }
    .titulo-menuprincipal{
        font-size: 70px;
    }
    .menu-secundario{
        gap: 50px;
        height: 600px;
        flex-direction: column;    
    }
    .imagenproyecto{
        height: 300px;
        width: 500px;
    }
    /*footer*/
    .footer{
        height: 250px;
    }
    .bi{
        font-size: 20px;
    }
    .footer--informacion{
        font-size: 17px;
    }
    .footer--datos{
        height: 50px;
    }
    .footer--datos p{
        font-size: 20px;
    }
    /*Formulario*/
    .menuformulario{
        height: 800px;
    }
    .formulario{
        height: 500px;
        width: 400px;
    }
    /*quienessomos*/
    .menu-quienes-somos{
        grid-template-columns:100%;
        grid-template-rows:500px 250px 300px 200px 100px;
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5";
    }
    .lodesantana{
        font-size: 60px;
    }
    span{
        font-size: 80px;
    }
    .uno{
        width: 150px;
        height: 150px;
    }
    .dos{
        width: 150px;
        height: 150px;
    }
    .tres{
        width: 150px;
        height: 150px;
    }
    .info-quienessomos{
        font-size: 30px;
    }
    
    .info-quienessomos{
        font-size: 22px;
    }
    .fotoquienesomos{
        height: 400px;
        width: 80%;
    }
    .informacion-quienes{
        height:600px;
        flex-direction: column;
        justify-content: space-around;
    }
  
    /*comercial*/
    .maincomercial{
        height: 150px;
        &_titulo{
            font-size: 40px;
        }
        &-imagenes{
            height: 2200px;
        }
        &-info_titulo{
             margin-bottom: 40px;
             text-align: center;
        }
        &-info_parrafo{
            font-size: 20px;
            text-align: center;
        }
        &-card_img{
            height: 400px;
            width: 400px;
        }
        &-card{
            flex-direction: column;
        }
        
    }
    
    /*productos*/
    .grilladefotos{
        grid-template-columns:50% 50%;
        grid-template-rows:400px 400px;
        grid-template-areas:"areaa areab"
                            "areac aread";
    }
    .unococina{
        height: 300px;
        width: 300px;
    }
    
}
@media only screen and (min-width:992px){
    /*index*/
    
    .menu-principal{
        height: 600px; 
        flex-direction: row; 
    }
    .titulo-menuprincipal{
        font-size: 80px;
    }
    .imagenproyecto{
        height: 350px;
        width: 550px;
    }
    .menu-secundario{
        height: 450px;

    }
    .info_secundaria h2{
        font-size: 25px;
    }
    .info_secundaria p{
        font-size:20px ;
    }
    .info_secundaria{
        width: 30%;
    }
    /*productos*/
    .grilladefotos{
        grid-template-columns: 23% 23% 23% 23%;
        grid-template-rows:400px ;
        grid-template-areas:"areaa areab areac aread";
    }
    .carousel{
        width: 80%;
        height: 550px;
        margin-left: 10%;
    }
    .carousel-menu{
        background-color: $colorfondoprincipal;
    }
    .d-block{
        height: 550px;
    }
    
    /*quienesomos*/
    
    .menu-quienes-somos{
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 250px 200px 150px;
        grid-template-areas:"a1 a2"
                            "a1 a3"
                            "a1 a4"
                            "a1 a5";
    }
    
    .informacion-quienes{
        flex-direction: row;
        height: 300px;
        justify-content: space-around;
    }
    /*comercial*/
    .maincomercial{
        &-imagenes{
            height: 1400px;
        }
        &_titulo{
            font-size: 60px;
        }
        &-info_titulo{
            font-size: 30px;
            text-align: left;
        }
        &-info_parrafo{
            font-size: 24px;
            text-align: left;
        }
        &-card{
            flex-direction: row;
        }
    }
   
    
}